In [1]:
import pandas as pd
df = pd.read_csv('nfldata.csv')
df = df.drop_duplicates()

C:\Users\Giost\AppData\Local\Temp\ipykernel_3440\271812652.py:2: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('nfldata.csv')

In [2]:
df.head(10)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009
5,2009-09-10,2009091000,2,1,1.0,13:16,14,3496.0,11.0,TEN,...,NaN,0.558929,0.441071,0.578453,0.421547,0.441071,-0.019524,NaN,NaN,2009
6,2009-09-10,2009091000,2,1,2.0,12:40,13,3460.0,36.0,TEN,...,0.163935,0.578453,0.421547,0.582881,0.417119,0.421547,-0.004427,-0.010456,0.006029,2009
7,2009-09-10,2009091000,2,1,3.0,12:11,13,3431.0,29.0,TEN,...,NaN,0.582881,0.417119,0.617544,0.382456,0.417119,-0.034663,NaN,NaN,2009
8,2009-09-10,2009091000,2,1,4.0,11:34,12,3394.0,37.0,TEN,...,NaN,0.617544,0.382456,0.591489,0.408511,0.382456,0.026054,NaN,NaN,2009
9,2009-09-10,2009091000,3,1,1.0,11:24,12,3384.0,10.0,TEN,...,0.541602,0.591489,0.408511,0.585405,0.414595,0.591489,-0.006084,-0.024526,0.018442,2009

In [3]:
df.info()
df.describe(include='all').T
df.isna().sum().sort_values(ascending=False).head(30)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362447 entries, 0 to 362446
Columns: 102 entries, Date to Season
dtypes: float64(33), int64(31), object(38)
memory usage: 282.1+ MB

DefTwoPoint          362433
BlockingPlayer       362341
TwoPointConv         361919
ChalReplayResult     359476
RecFumbPlayer        358513
RecFumbTeam          358513
Interceptor          358387
FieldGoalDistance    354528
FieldGoalResult      354431
ExPointResult        353399
PenaltyType          347849
Timeout_Team         347538
ReturnResult         346547
PuntResult           342560
Returner             339535
PenalizedPlayer      337483
PenalizedTeam        336362
Tackler2             318045
RunGap               284605
RunLocation          256187
Rusher               255254
Rusher_ID            252165
Receiver_ID          222265
yacWPA               220956
airWPA               220738
yacEPA               220734
airEPA               220641
Receiver             218647
PassLength           213772
PassLocation         213772
dtype: int64

In [4]:
df.head(10)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009
5,2009-09-10,2009091000,2,1,1.0,13:16,14,3496.0,11.0,TEN,...,NaN,0.558929,0.441071,0.578453,0.421547,0.441071,-0.019524,NaN,NaN,2009
6,2009-09-10,2009091000,2,1,2.0,12:40,13,3460.0,36.0,TEN,...,0.163935,0.578453,0.421547,0.582881,0.417119,0.421547,-0.004427,-0.010456,0.006029,2009
7,2009-09-10,2009091000,2,1,3.0,12:11,13,3431.0,29.0,TEN,...,NaN,0.582881,0.417119,0.617544,0.382456,0.417119,-0.034663,NaN,NaN,2009
8,2009-09-10,2009091000,2,1,4.0,11:34,12,3394.0,37.0,TEN,...,NaN,0.617544,0.382456,0.591489,0.408511,0.382456,0.026054,NaN,NaN,2009
9,2009-09-10,2009091000,3,1,1.0,11:24,12,3384.0,10.0,TEN,...,0.541602,0.591489,0.408511,0.585405,0.414595,0.591489,-0.006084,-0.024526,0.018442,2009

In [5]:
# parse Date
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# if you have a clock column like "TimeUnder" as "MM:SS" or "M:SS"
def mmss_to_seconds(s):
    try:
        m, sec = str(s).split(':')
        return int(m)*60 + int(sec)
    except Exception:
        return pd.NA

if 'TimeUnder' in df.columns:
    df['TimeUnderSecs'] = df['TimeUnder'].apply(mmss_to_seconds).astype('Int64')

In [6]:
df.head(10)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season,TimeUnderSecs
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009,<NA>
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009,<NA>
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009,<NA>
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009,<NA>
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009,<NA>
5,2009-09-10,2009091000,2,1,1.0,13:16,14,3496.0,11.0,TEN,...,0.558929,0.441071,0.578453,0.421547,0.441071,-0.019524,NaN,NaN,2009,<NA>
6,2009-09-10,2009091000,2,1,2.0,12:40,13,3460.0,36.0,TEN,...,0.578453,0.421547,0.582881,0.417119,0.421547,-0.004427,-0.010456,0.006029,2009,<NA>
7,2009-09-10,2009091000,2,1,3.0,12:11,13,3431.0,29.0,TEN,...,0.582881,0.417119,0.617544,0.382456,0.417119,-0.034663,NaN,NaN,2009,<NA>
8,2009-09-10,2009091000,2,1,4.0,11:34,12,3394.0,37.0,TEN,...,0.617544,0.382456,0.591489,0.408511,0.382456,0.026054,NaN,NaN,2009,<NA>
9,2009-09-10,2009091000,3,1,1.0,11:24,12,3384.0,10.0,TEN,...,0.591489,0.408511,0.585405,0.414595,0.591489,-0.006084,-0.024526,0.018442,2009,<NA>

In [7]:
num_cols = df.columns[df.dtypes.isin(['float64','int64'])].tolist()

# also coerce columns that are strings but numeric
possible_numeric = ['time','TimeSecs','PlayTimeDiff']  # extend as needed
for c in possible_numeric:
    if c in df.columns:
        df[c] = pd.to_numeric(df[c], errors='coerce')

In [8]:
df.head(10)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season,TimeUnderSecs
0,2009-09-10,2009091000,1,1,NaN,NaN,15,3600.0,0.0,TEN,...,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009,<NA>
1,2009-09-10,2009091000,1,1,1.0,NaN,15,3593.0,7.0,PIT,...,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009,<NA>
2,2009-09-10,2009091000,1,1,2.0,NaN,15,3556.0,37.0,PIT,...,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009,<NA>
3,2009-09-10,2009091000,1,1,3.0,NaN,14,3515.0,41.0,PIT,...,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009,<NA>
4,2009-09-10,2009091000,1,1,4.0,NaN,14,3507.0,8.0,PIT,...,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009,<NA>
5,2009-09-10,2009091000,2,1,1.0,NaN,14,3496.0,11.0,TEN,...,0.558929,0.441071,0.578453,0.421547,0.441071,-0.019524,NaN,NaN,2009,<NA>
6,2009-09-10,2009091000,2,1,2.0,NaN,13,3460.0,36.0,TEN,...,0.578453,0.421547,0.582881,0.417119,0.421547,-0.004427,-0.010456,0.006029,2009,<NA>
7,2009-09-10,2009091000,2,1,3.0,NaN,13,3431.0,29.0,TEN,...,0.582881,0.417119,0.617544,0.382456,0.417119,-0.034663,NaN,NaN,2009,<NA>
8,2009-09-10,2009091000,2,1,4.0,NaN,12,3394.0,37.0,TEN,...,0.617544,0.382456,0.591489,0.408511,0.382456,0.026054,NaN,NaN,2009,<NA>
9,2009-09-10,2009091000,3,1,1.0,NaN,12,3384.0,10.0,TEN,...,0.591489,0.408511,0.585405,0.414595,0.591489,-0.006084,-0.024526,0.018442,2009,<NA>

In [9]:
# (you already run drop_duplicates earlier) re-check
print("duplicates:", df.duplicated().sum())
# keep first occurrence if duplicates remain
df = df.drop_duplicates(ignore_index=True)

duplicates: 0

In [10]:
missing_frac = df.isna().mean()
drop_cols = missing_frac[missing_frac > 0.8].index.tolist()
print("Dropping columns with >80% missing:", drop_cols)
df = df.drop(columns=drop_cols)

Dropping columns with >80% missing: ['time', 'ExPointResult', 'TwoPointConv', 'DefTwoPoint', 'PuntResult', 'Interceptor', 'ReturnResult', 'Returner', 'BlockingPlayer', 'Tackler2', 'FieldGoalResult', 'FieldGoalDistance', 'RecFumbTeam', 'RecFumbPlayer', 'ChalReplayResult', 'PenalizedTeam', 'PenaltyType', 'PenalizedPlayer', 'Timeout_Team', 'TimeUnderSecs']

In [11]:
numeric_cols = df.select_dtypes(include='number').columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())
# or only numeric columns:
# df = df.fillna(df.mean(numeric_only=True))

In [12]:
# 1) choose columns you want to forward/backfill and keep only those that exist
cols_to_ffill = [c for c in ['Home_WP_pre','Away_WP_pre','Win_Prob'] if c in df.columns]
if not cols_to_ffill:
    raise KeyError("None of the target columns found in df")

# 2) require ordering columns to exist
if 'GameID' not in df.columns:
    raise KeyError("GameID column missing")
# PlayTimeDiff is recommended for ordering; fall back to index if missing
order_cols = ['GameID', 'PlayTimeDiff'] if 'PlayTimeDiff' in df.columns else ['GameID']

# 3) sort by GameID + ordering and then fill per-group using transform
df = df.sort_values(order_cols).copy()
df[cols_to_ffill] = df.groupby('GameID')[cols_to_ffill].transform(lambda s: s.ffill().bfill())

# 4) (optional) restore original order if you want
# df = df.sort_index()

In [13]:
cat_cols = df.select_dtypes(include=['object','category']).columns.tolist()
for c in cat_cols:
    if df[c].isna().any():
        mode = df[c].mode(dropna=True)
        if len(mode):
            df[c] = df[c].fillna(mode.iloc[0])
        else:
            df[c] = df[c].fillna('Unknown')

In [14]:
# ensure time is within expected bounds
if 'time' in df.columns:
    df = df[(df['time'].isna()) | (df['time'].between(0, 3600))]

# example: filter plays with non-sensical PlayTimeDiff
if 'PlayTimeDiff' in df.columns:
    df.loc[~df['PlayTimeDiff'].between(-10000,10000), 'PlayTimeDiff'] = pd.NA

In [15]:
df[numeric_cols].describe().T
df.isna().sum().sort_values(ascending=False).head(40)

Date                  0
GameID                0
Drive                 0
qtr                   0
down                  0
TimeUnder             0
TimeSecs              0
PlayTimeDiff          0
SideofField           0
yrdln                 0
yrdline100            0
ydstogo               0
ydsnet                0
GoalToGo              0
FirstDown             0
posteam               0
DefensiveTeam         0
desc                  0
PlayAttempted         0
Yards.Gained          0
sp                    0
Touchdown             0
Safety                0
Onsidekick            0
PlayType              0
Passer                0
Passer_ID             0
PassAttempt           0
PassOutcome           0
PassLength            0
AirYards              0
YardsAfterCatch       0
QBHit                 0
PassLocation          0
InterceptionThrown    0
Rusher                0
Rusher_ID             0
RushAttempt           0
RunLocation           0
RunGap                0
dtype: int64

In [16]:
# create is_pass target using common column names
possible_playtype_cols = [c for c in ['PlayType','play_type','type','Play'] if c in df.columns]
if possible_playtype_cols:
    col = possible_playtype_cols[0]
    df['is_pass'] = df[col].astype(str).str.lower().str.contains('pass')
    print('is_pass created from', col, '->', df['is_pass'].value_counts(dropna=False).to_dict())
else:
    print('No obvious PlayType column found. Provide the column name or logic to create is_pass.')

is_pass created from PlayType -> {False: 220581, True: 141866}

In [17]:
cols_time_series = [c for c in ['Home_WP_pre','Away_WP_pre','Win_Prob','HomeScore','AwayScore'] if c in df.columns]
order_cols = ['GameID', 'PlayTimeDiff'] if 'PlayTimeDiff' in df.columns else ['GameID']

if cols_time_series:
    df = df.sort_values(order_cols).copy()
    df[cols_time_series] = df.groupby('GameID')[cols_time_series].transform(lambda s: s.ffill().bfill())
    print('Filled time-series columns per GameID:', cols_time_series)
else:
    print('No game-state columns found to forward/backfill.')

Filled time-series columns per GameID: ['Home_WP_pre', 'Away_WP_pre', 'Win_Prob']

In [18]:
leakage_patterns = ['post','next','result','after','_post','_next']
leak_cols = [c for c in df.columns if any(p in c.lower() for p in leakage_patterns)]
# keep backup of leakage columns if desired
df_leakage = df[leak_cols].copy() if leak_cols else None
df = df.drop(columns=leak_cols, errors='ignore')
print('Dropped leakage columns:', leak_cols)

Dropped leakage columns: ['posteam', 'YardsAfterCatch', 'PosTeamScore', 'posteam_timeouts_pre', 'HomeTimeouts_Remaining_Post', 'AwayTimeouts_Remaining_Post', 'Home_WP_post', 'Away_WP_post']

In [19]:
# coerce likely numeric columns
possible_numeric = ['time','TimeSecs','PlayTimeDiff','yardline','Yards','yards_gained']
for c in possible_numeric:
    if c in df.columns:
        df[c] = pd.to_numeric(df[c], errors='coerce')

numeric_cols = df.select_dtypes(include='number').columns.tolist()
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())
print('Numeric fill applied to:', len(numeric_cols), 'columns')

Numeric fill applied to: 56 columns

In [20]:
# yardline_100
if 'yardline' in df.columns:
    df['yardline_100'] = 100 - df['yardline']

# score diff if scores exist
score_cols = [c for c in ['HomeScore','AwayScore','home_score','away_score'] if c in df.columns]
if len(score_cols) >= 2:
    df['score_diff'] = df[score_cols[0]] - df[score_cols[1]]

# seconds remaining simple approximation (adjust to your clock columns)
if 'TimeSecs' in df.columns and 'qtr' in df.columns:
    df['seconds_remaining_game'] = df['TimeSecs'] + (4 - df['qtr']) * 15 * 60

# recent pass rate per game
df = df.sort_values(['GameID','PlayTimeDiff'] if 'PlayTimeDiff' in df.columns else ['GameID']).copy()
df['last1_is_pass'] = df.groupby('GameID')['is_pass'].shift(1).fillna(0)
df['pass_rate_last5'] = df.groupby('GameID')['is_pass'].transform(lambda s: s.shift(1).rolling(5, min_periods=1).mean()).fillna(0)

print('Added features: yardline_100, score_diff (if available), seconds_remaining_game (if available), last1_is_pass, pass_rate_last5')

Added features: yardline_100, score_diff (if available), seconds_remaining_game (if available), last1_is_pass, pass_rate_last5

In [21]:
print('shape:', df.shape)
display(df.dtypes.value_counts())
display(df.isna().sum().sort_values(ascending=False).head(40))
display(df[['is_pass','pass_rate_last5']].head(10))

shape: (362447, 79)

float64           31
int64             27
object            19
datetime64[ns]     1
bool               1
Name: count, dtype: int64

Date                  0
GameID                0
Drive                 0
qtr                   0
down                  0
TimeUnder             0
TimeSecs              0
PlayTimeDiff          0
SideofField           0
yrdln                 0
yrdline100            0
ydstogo               0
ydsnet                0
GoalToGo              0
FirstDown             0
DefensiveTeam         0
desc                  0
PlayAttempted         0
Yards.Gained          0
sp                    0
Touchdown             0
Safety                0
Onsidekick            0
PlayType              0
Passer                0
Passer_ID             0
PassAttempt           0
PassOutcome           0
PassLength            0
AirYards              0
QBHit                 0
PassLocation          0
InterceptionThrown    0
Rusher                0
Rusher_ID             0
RushAttempt           0
RunLocation           0
RunGap                0
Receiver              0
Receiver_ID           0
dtype: int64

     is_pass  pass_rate_last5
0      False         0.000000
37      True         0.000000
69      True         0.500000
72      True         0.666667
74     False         0.750000
80     False         0.600000
84      True         0.600000
88     False         0.600000
124    False         0.400000
138     True         0.200000

In [22]:
# Save cleaned DataFrame to a new CSV (keeps original file)
df.to_csv('nfldata_cleaned_v1.csv', index=False, encoding='utf-8')

In [26]:
# Validate targets & class balance
print("=== TARGET VALIDATION ===")
if 'is_pass' in df.columns:
    print("is_pass value counts:")
    print(df['is_pass'].value_counts(dropna=False))
    print("\nis_pass distribution (%):")
    print(df['is_pass'].value_counts(normalize=True) * 100)
    
    # balance by game
    print("\nPass rate by game (sample):")
    game_pass_rate = df.groupby('GameID')['is_pass'].agg(['mean','count']).reset_index()
    print(game_pass_rate.head(10))
else:
    print("WARNING: 'is_pass' not found")

# check for other potential targets
for target in ['Yards','yards_gained','epa','WPA','yacEPA']:
    if target in df.columns:
        print(f"\n{target} stats:")
        print(df[target].describe())

=== TARGET VALIDATION ===
is_pass value counts:
is_pass
False    220581
True     141866
Name: count, dtype: int64

is_pass distribution (%):
is_pass
False    60.858829
True     39.141171
Name: proportion, dtype: float64

Pass rate by game (sample):
       GameID      mean  count
0  2009091000  0.438202    178
1  2009091300  0.409938    161
2  2009091301  0.368132    182
3  2009091302  0.338710    186
4  2009091303  0.394904    157
5  2009091304  0.331395    172
6  2009091305  0.386503    163
7  2009091306  0.409938    161
8  2009091307  0.390110    182
9  2009091308  0.403509    171

WPA stats:
count    362447.000000
mean          0.002135
std           0.045025
min          -0.997214
25%          -0.014297
50%           0.000000
75%           0.014381
max           0.994848
Name: WPA, dtype: float64

yacEPA stats:
count    362447.000000
mean         -0.151126
std           1.248010
min         -14.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           9.559834
Name: yacEPA, dtype: float64

In [24]:
# Game-based train/test split (no leakage across games)
from sklearn.model_selection import GroupShuffleSplit

if 'GameID' not in df.columns:
    raise KeyError("GameID missing - cannot split by game")

gss = GroupShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
train_idx, test_idx = next(gss.split(df, groups=df['GameID']))
df_train = df.iloc[train_idx].reset_index(drop=True)
df_test = df.iloc[test_idx].reset_index(drop=True)

print("=== TRAIN/TEST SPLIT (BY GAME) ===")
print(f"Train: {df_train.shape[0]:,} rows, {df_train['GameID'].nunique()} games")
print(f"Test:  {df_test.shape[0]:,} rows, {df_test['GameID'].nunique()} games")

if 'is_pass' in df.columns:
    print("\nTrain is_pass distribution:")
    print(df_train['is_pass'].value_counts(normalize=True) * 100)
    print("\nTest is_pass distribution:")
    print(df_test['is_pass'].value_counts(normalize=True) * 100)

=== TRAIN/TEST SPLIT (BY GAME) ===
Train: 289,814 rows, 1638 games
Test:  72,633 rows, 410 games

Train is_pass distribution:
is_pass
False    60.742407
True     39.257593
Name: proportion, dtype: float64

Test is_pass distribution:
is_pass
False    61.323365
True     38.676635
Name: proportion, dtype: float64

In [27]:
# Baseline Classification: Play-Type (is_pass)
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, roc_auc_score, confusion_matrix, accuracy_score
import numpy as np
import sklearn

if 'is_pass' not in df_train.columns:
    print("WARNING: 'is_pass' not found; skipping classification baseline")
else:
    print("=== BASELINE CLASSIFICATION: PLAY TYPE (is_pass) ===\n")
    print(f"sklearn version: {sklearn.__version__}\n")
    
    # Select features: numeric and categorical
    num_features = [c for c in ['down','ydstogo','yardline_100','score_diff','TimeSecs','last1_is_pass','pass_rate_last5'] if c in df_train.columns]
    cat_features = [c for c in ['OffenseTeam','DefenseTeam','SideofField','posteam'] if c in df_train.columns]
    
    print(f"Numeric features ({len(num_features)}): {num_features}")
    print(f"Categorical features ({len(cat_features)}): {cat_features}")
    
    # Preprocessing pipeline - use sparse_output for newer sklearn, sparse for older
    try:
        preprocessor = ColumnTransformer(
            transformers=[
                ('num', StandardScaler(), num_features),
                ('cat', OneHotEncoder(handle_unknown='ignore', sparse_output=False), cat_features)
            ],
            remainder='drop'
        )
    except TypeError:
        preprocessor = ColumnTransformer(
            transformers=[
                ('num', StandardScaler(), num_features),
                ('cat', OneHotEncoder(handle_unknown='ignore', sparse=False), cat_features)
            ],
            remainder='drop'
        )
    
    # Logistic Regression baseline (interpretable)
    clf_lr = Pipeline([
        ('preprocessor', preprocessor),
        ('model', LogisticRegression(max_iter=1000, random_state=42, n_jobs=-1))
    ])
    
    X_train = df_train[num_features + cat_features].copy()
    y_train = df_train['is_pass'].astype(int)
    X_test = df_test[num_features + cat_features].copy()
    y_test = df_test['is_pass'].astype(int)
    
    # Fit & predict
    clf_lr.fit(X_train, y_train)
    y_pred_lr = clf_lr.predict(X_test)
    y_proba_lr = clf_lr.predict_proba(X_test)[:, 1]
    
    print("\n--- LOGISTIC REGRESSION ---")
    print(f"Accuracy: {accuracy_score(y_test, y_pred_lr):.4f}")
    print(f"ROC AUC: {roc_auc_score(y_test, y_proba_lr):.4f}")
    print("\nClassification Report:")
    print(classification_report(y_test, y_pred_lr, target_names=['Run','Pass']))
    print("\nConfusion Matrix (rows=actual, cols=predicted):")
    print(confusion_matrix(y_test, y_pred_lr))
    
    # Random Forest (better feature importance)
    clf_rf = Pipeline([
        ('preprocessor', preprocessor),
        ('model', RandomForestClassifier(n_estimators=100, random_state=42, n_jobs=-1, max_depth=10))
    ])
    clf_rf.fit(X_train, y_train)
    y_pred_rf = clf_rf.predict(X_test)
    y_proba_rf = clf_rf.predict_proba(X_test)[:, 1]
    
    print("\n--- RANDOM FOREST ---")
    print(f"Accuracy: {accuracy_score(y_test, y_pred_rf):.4f}")
    print(f"ROC AUC: {roc_auc_score(y_test, y_proba_rf):.4f}")
    print("\nClassification Report:")
    print(classification_report(y_test, y_pred_rf, target_names=['Run','Pass']))
    
    # Feature importance
    print("\n--- FEATURE IMPORTANCE (RF) ---")
    fi = pd.DataFrame({
        'feature': num_features + cat_features,
        'importance': clf_rf.named_steps['model'].feature_importances_[:len(num_features + cat_features)]
    }).sort_values('importance', ascending=False).head(15)
    display(fi)

=== BASELINE CLASSIFICATION: PLAY TYPE (is_pass) ===

sklearn version: 1.7.2

Numeric features (5): ['down', 'ydstogo', 'TimeSecs', 'last1_is_pass', 'pass_rate_last5']
Categorical features (1): ['SideofField']

--- LOGISTIC REGRESSION ---
Accuracy: 0.6155
ROC AUC: 0.6522

Classification Report:
              precision    recall  f1-score   support

         Run       0.63      0.88      0.74     44541
        Pass       0.51      0.20      0.29     28092

    accuracy                           0.62     72633
   macro avg       0.57      0.54      0.51     72633
weighted avg       0.59      0.62      0.56     72633


Confusion Matrix (rows=actual, cols=predicted):
[[39085  5456]
 [22471  5621]]

--- LOGISTIC REGRESSION ---
Accuracy: 0.6155
ROC AUC: 0.6522

Classification Report:
              precision    recall  f1-score   support

         Run       0.63      0.88      0.74     44541
        Pass       0.51      0.20      0.29     28092

    accuracy                           0.62     72633
   macro avg       0.57      0.54      0.51     72633
weighted avg       0.59      0.62      0.56     72633


Confusion Matrix (rows=actual, cols=predicted):
[[39085  5456]
 [22471  5621]]

--- RANDOM FOREST ---
Accuracy: 0.6872
ROC AUC: 0.7686

Classification Report:
              precision    recall  f1-score   support

         Run       0.69      0.90      0.78     44541
        Pass       0.69      0.34      0.46     28092

    accuracy                           0.69     72633
   macro avg       0.69      0.62      0.62     72633
weighted avg       0.69      0.69      0.66     72633


--- FEATURE IMPORTANCE (RF) ---

--- RANDOM FOREST ---
Accuracy: 0.6872
ROC AUC: 0.7686

Classification Report:
              precision    recall  f1-score   support

         Run       0.69      0.90      0.78     44541
        Pass       0.69      0.34      0.46     28092

    accuracy                           0.69     72633
   macro avg       0.69      0.62      0.62     72633
weighted avg       0.69      0.69      0.66     72633


--- FEATURE IMPORTANCE (RF) ---

           feature  importance
1          ydstogo    0.584565
0             down    0.341006
2         TimeSecs    0.049244
4  pass_rate_last5    0.013791
3    last1_is_pass    0.003272
5      SideofField    0.001198

In [29]:
# Baseline Regression: Outcome (yards or EPA)
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

print("\n=== BASELINE REGRESSION: OUTCOME PREDICTION ===\n")

# Find regression target
possible_targets = [c for c in ['Yards','yards_gained','epa','WPA','yacEPA'] if c in df_train.columns]
if not possible_targets:
    print("WARNING: No suitable regression target found (Yards, yards_gained, epa, WPA, yacEPA)")
else:
    target = possible_targets[0]
    print(f"Using target: {target}\n")
    
    # Reuse feature set
    num_features = [c for c in ['down','ydstogo','yardline_100','score_diff','TimeSecs','last1_is_pass','pass_rate_last5'] if c in df_train.columns]
    cat_features = [c for c in ['OffenseTeam','DefenseTeam','SideofField','posteam'] if c in df_train.columns]
    
    try:
        preprocessor_reg = ColumnTransformer(
            transformers=[
                ('num', StandardScaler(), num_features),
                ('cat', OneHotEncoder(handle_unknown='ignore', sparse_output=False), cat_features)
            ],
            remainder='drop'
        )
    except TypeError:
        preprocessor_reg = ColumnTransformer(
            transformers=[
                ('num', StandardScaler(), num_features),
                ('cat', OneHotEncoder(handle_unknown='ignore', sparse=False), cat_features)
            ],
            remainder='drop'
        )
    
    # Drop rows with missing target
    train_reg = df_train.dropna(subset=[target]).copy()
    test_reg = df_test.dropna(subset=[target]).copy()
    print(f"Train rows with {target}: {train_reg.shape[0]}")
    print(f"Test rows with {target}: {test_reg.shape[0]}\n")
    
    if train_reg.shape[0] == 0:
        print("No training data; skipping regression")
    else:
        X_train_reg = train_reg[num_features + cat_features].copy()
        y_train_reg = train_reg[target]
        X_test_reg = test_reg[num_features + cat_features].copy()
        y_test_reg = test_reg[target]
        
        # Random Forest Regressor
        reg_rf = Pipeline([
            ('preprocessor', preprocessor_reg),
            ('model', RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1, max_depth=10))
        ])
        reg_rf.fit(X_train_reg, y_train_reg)
        y_pred_rf_reg = reg_rf.predict(X_test_reg)
        
        mae_rf = mean_absolute_error(y_test_reg, y_pred_rf_reg)
        rmse_rf = np.sqrt(mean_squared_error(y_test_reg, y_pred_rf_reg))
        r2_rf = r2_score(y_test_reg, y_pred_rf_reg)
        
        print("--- RANDOM FOREST ---")
        print(f"MAE:  {mae_rf:.4f}")
        print(f"RMSE: {rmse_rf:.4f}")
        print(f"R²:   {r2_rf:.4f}")
        
        # Gradient Boosting (often stronger)
        reg_gb = Pipeline([
            ('preprocessor', preprocessor_reg),
            ('model', GradientBoostingRegressor(n_estimators=100, random_state=42, max_depth=5))
        ])
        reg_gb.fit(X_train_reg, y_train_reg)
        y_pred_gb_reg = reg_gb.predict(X_test_reg)
        
        mae_gb = mean_absolute_error(y_test_reg, y_pred_gb_reg)
        rmse_gb = np.sqrt(mean_squared_error(y_test_reg, y_pred_gb_reg))
        r2_gb = r2_score(y_test_reg, y_pred_gb_reg)
        
        print("\n--- GRADIENT BOOSTING ---")
        print(f"MAE:  {mae_gb:.4f}")
        print(f"RMSE: {rmse_gb:.4f}")
        print(f"R²:   {r2_gb:.4f}")
        
        # Feature importance
        print("\n--- FEATURE IMPORTANCE (GB) ---")
        fi_reg = pd.DataFrame({
            'feature': num_features + cat_features,
            'importance': reg_gb.named_steps['model'].feature_importances_[:len(num_features + cat_features)]
        }).sort_values('importance', ascending=False).head(15)
        display(fi_reg)
        
        # Residual plot
        print("\n--- RESIDUALS (GB) ---")
        residuals = y_test_reg - y_pred_gb_reg
        print(f"Mean residual: {residuals.mean():.4f}")
        print(f"Std residual:  {residuals.std():.4f}")
        print(f"Min residual:  {residuals.min():.4f}")
        print(f"Max residual:  {residuals.max():.4f}")

=== BASELINE REGRESSION: OUTCOME PREDICTION ===

Using target: WPA

Train rows with WPA: 289814
Test rows with WPA: 72633

Train rows with WPA: 289814
Test rows with WPA: 72633

--- RANDOM FOREST ---
MAE:  0.0245
RMSE: 0.0446
R²:   0.0240
--- RANDOM FOREST ---
MAE:  0.0245
RMSE: 0.0446
R²:   0.0240

--- GRADIENT BOOSTING ---
MAE:  0.0245
RMSE: 0.0446
R²:   0.0224

--- FEATURE IMPORTANCE (GB) ---

--- GRADIENT BOOSTING ---
MAE:  0.0245
RMSE: 0.0446
R²:   0.0224

--- FEATURE IMPORTANCE (GB) ---

           feature  importance
2         TimeSecs    0.458199
0             down    0.157993
1          ydstogo    0.122052
4  pass_rate_last5    0.054229
3    last1_is_pass    0.017905
5      SideofField    0.000000

--- RESIDUALS (GB) ---
Mean residual: -0.0002
Std residual:  0.0446
Min residual:  -0.9813
Max residual:  0.9744

In [32]:
# Save models and datasets
import joblib
from datetime import datetime

# Timestamp for versioning
ts = datetime.now().strftime('%Y%m%d_%H%M%S')

print("=== SAVING ARTIFACTS ===\n")

# Save train/test splits as CSV (parquet skipped for compatibility)
df_train.to_csv(f'nfldata_train_{ts}.csv', index=False)
df_test.to_csv(f'nfldata_test_{ts}.csv', index=False)
print(f"Saved train/test splits: nfldata_train_{ts}.csv, nfldata_test_{ts}.csv")

# Save models (if they exist)
try:
    joblib.dump(clf_rf, f'model_playtype_rf_{ts}.joblib')
    print(f"Saved RF play-type model: model_playtype_rf_{ts}.joblib")
except Exception as e:
    print("RF play-type model not saved (not fit or error)", e)

try:
    joblib.dump(clf_lr, f'model_playtype_lr_{ts}.joblib')
    print(f"Saved LR play-type model: model_playtype_lr_{ts}.joblib")
except Exception as e:
    print("LR play-type model not saved (not fit or error)", e)

try:
    joblib.dump(reg_gb, f'model_outcome_gb_{ts}.joblib')
    print(f"Saved GB outcome model: model_outcome_gb_{ts}.joblib")
except Exception as e:
    print("GB outcome model not saved (not fit or error)", e)

# Save full cleaned dataset as CSV only
df.to_csv(f'nfldata_cleaned_full_{ts}.csv', index=False)
print(f"Saved full cleaned dataset: nfldata_cleaned_full_{ts}.csv")

print(f"\n✓ All artifacts saved with timestamp: {ts}")

=== SAVING ARTIFACTS ===

Saved train/test splits: nfldata_train_20251129_223553.csv, nfldata_test_20251129_223553.csv
Saved RF play-type model: model_playtype_rf_20251129_223553.joblib
Saved LR play-type model: model_playtype_lr_20251129_223553.joblib
Saved GB outcome model: model_outcome_gb_20251129_223553.joblib
Saved full cleaned dataset: nfldata_cleaned_full_20251129_223553.csv

✓ All artifacts saved with timestamp: 20251129_223553

In [34]:
import joblib

# Load models
clf_rf = joblib.load('model_playtype_rf_20251129_223553.joblib')
clf_lr = joblib.load('model_playtype_lr_20251129_223553.joblib')
reg_gb = joblib.load('model_outcome_gb_20251129_223553.joblib')

# Prepare features (must match training features)
features = ['down','ydstogo','TimeSecs','last1_is_pass','pass_rate_last5','SideofField']
X_new = df_test[features]

# Predict play type (is_pass)
y_pred_rf = clf_rf.predict(X_new)
y_pred_lr = clf_lr.predict(X_new)

# Predict outcome (yards/EPA/WPA)
y_pred_outcome = reg_gb.predict(X_new)

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

# Feature importances (Random Forest)
importances = clf_rf.named_steps['model'].feature_importances_
features = clf_rf.named_steps['preprocessor'].transformers_[0][2] + clf_rf.named_steps['preprocessor'].transformers_[1][2]
fi_df = pd.DataFrame({'feature': features, 'importance': importances})
fi_df.sort_values('importance', ascending=False).plot.bar(x='feature', y='importance')
plt.title('Feature Importances (Play Type RF)')
plt.show()

# Error analysis (Confusion Matrix, Regression Residuals)
from sklearn.metrics import confusion_matrix, mean_squared_error

# For classification
cm = confusion_matrix(df_test['is_pass'], y_pred_rf)
print('Confusion Matrix:\n', cm)

# For regression
residuals = df_test['WPA'] - y_pred_outcome
plt.hist(residuals, bins=50)
plt.title('Regression Residuals')
plt.show()

{'cell_type': 'code',
 'metadata': {'language': 'python'},
 'source': ['import matplotlib.pyplot as plt',
  'import pandas as pd',
  '',
  '# Get feature names after preprocessing',
  "preprocessor = clf_rf.named_steps['preprocessor']",
  'feature_names = []',
  'for name, transformer, cols in preprocessor.transformers_:',
  "    if hasattr(transformer, 'get_feature_names_out'):",
  '        # For OneHotEncoder and similar',
  '        names = transformer.get_feature_names_out(cols)',
  '        feature_names.extend(names)',
  '    else:',
  '        feature_names.extend(cols)',
  '',
  '# Now match importances to feature names',
  "importances = clf_rf.named_steps['model'].feature_importances_",
  "fi_df = pd.DataFrame({'feature': feature_names, 'importance': importances})",
  "fi_df.sort_values('importance', ascending=False).plot.bar(x='feature', y='importance', figsize=(12,4))",
  "plt.title('Feature Importances (Play Type RF)')",
  'plt.tight_layout()',
  'plt.show()']}